/* 卡台的状态对应的背景颜色 */
.bgc1,
.bgc2 {
  /* 空台/锁台 */
  background: #FAFAFC !important;
}

.bgc3,
.bgc8 {
  /* 预定、预留 */

  background: #A1E7C2 !important;
  // background: linear-gradient(180deg, #00D5CF 0%, #239CCE 100%) !important;
}

.bgc4 {
  /* 开台 */
  background: #FFF6A5 !important;
  // background: linear-gradient(180deg, #F59723 0%, #DB611E 100%) !important;
}

.bgc5 {
  /* 点单未结账 */
  background: #F8A27A !important;
  // background: linear-gradient(360deg, #E03755 0%, #F25353 100%) !important;
}

.bgc6 {
  /* 部分结账 */

  background: #BAB9F7 !important;
  // background: linear-gradient(360deg, #7F15E7 0%, #AB18F4 100%) !important;
}

.bgc7 {
  /* 已结账 */
  background: #989FAF !important;
  // background: linear-gradient(360deg, #4E39D1 0%, #366AEE 100%) !important;
}

.pressdown {
  box-shadow: 0 0px 22px 3px #32B9FF inset !important;
}