.cut-prd-table {

  padding: 10px 0;

  .table-content {
    width: 100%;
    overflow-x: auto;
    height: calc(100vh - 240px);
    .table {
      width: 1600px;
  
      .thead {
        font-weight: 600;
        /deep/.el-checkbox__label{
          font-weight: 600;
        }
        .th {
          background-color: #f5f5f5;
        }
      }

      .tbody {
        .tr{
          &:nth-child(2n) {
            .td {
              background-color: #f5f5f5;
            }
          }
          &:nth-child(2n + 1) {
            .td {
              background-color: #f9f9f9;
            }
          }
        }
      }
  
      .tr {
        padding: 0;
        min-width: 1400px;
      }
  
      .th,.td{
        padding: 0;
      }
  
      .th:nth-child(1),
      .td:nth-child(1) {
        position: sticky;
        left: 0px;
        z-index: 1;
        width: 100px;
        padding-left: 10px;
        box-sizing: border-box;
      }
  
      .th:nth-child(2),
      .td:nth-child(2) {
        position: sticky;
        left: 86px;
        z-index: 1;
        width: 100px;
      }

      .th:nth-child(3),
      .td:nth-child(3) {
        position: sticky;
        left: 171px;
        z-index: 1;
        width: 200px;
      }
  
      .th:nth-child(4),
      .td:nth-child(4) {
        width: 150px;
      }
  
      .th:nth-child(5),
      .td:nth-child(5) {
        width: 150px;
      }

      .th:nth-child(6),
      .td:nth-child(6) {
        width: 150px;
      }
      
      .th:nth-child(7),
      .td:nth-child(7) {
        width: 360px;
        padding: 0 20px;
      }
  
      .th:nth-child(8),
      .td:nth-child(8) {
        width: 360px;
        padding: 0 20px;
      }
  
      .th:nth-child(9),
      .td:nth-child(9) {
        width: 300px;
        padding-right: 10px;
        box-sizing: border-box;
      }
    }
  }

}

/deep/.el-input__inner{
  height: 30px;
}