
.select-top{
  flex-wrap: wrap;

    .item {
      margin: 4px 20px 4px 0;
    }
}

.table-content{
  height: calc(100vh - 200px);
  overflow-y: auto;
  .th,.td{
    width: 33%;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      width: 30%;
    }
  }
}

/deep/.el-input__inner{
  background-color: transparent!important;
  color: #40404e!important;
}

// 分类选择框icon
/deep/.el-cascader .el-input .el-icon-arrow-down{
  transform-origin: center 20px;
}