@color: #181830;


h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

h4 {
  font-size: 18px;
}

p {
  line-height: 20px;
}

.w64 {
  width: 64%;
}

.w36 {
  width: 36%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.line {
  border-bottom: 1px dashed #888;
}

.stop-class {
  color: rgba(255, 255, 255, .8);
  height: calc(100vh - 130px);
  overflow-y: auto;

  // 条件筛选
  .condition {
    padding: 0 40px 20px;

    .label {
      width: 80px;
    }

    .label-content {
      width: calc(100% - 80px);
    }

    .border-bot{
      border-bottom: 1px solid rgba(255, 255, 255, .8);
    }
  }

  // 班结表预览

  &-prev {
    position: relative;
    width: 360px;
    margin: 0 auto 40px;
  }

  &-top {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;

    img {
      width: 112%;
      transform: translate(-5%);
    }
  }

  &-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;

    .contain {
      padding: 46px 20px 20px;
      box-sizing: border-box;
      background-color: #BABABA;

      &-content {
        color: @color;
        font-size: 14px;

        // 班结表标题
        &-title {
          text-align: center;

          p {
            text-align: right;
            padding: 10px 0;
          }
        }

        // 数据总览

        &-all-data {
          padding: 10px 0;
        }

        // 支付渠道 / 收入

        &-pay-list,
        &-get-money {
          padding: 10px 0;
        }

        // 总结算数据
        &-result {
          padding: 10px 0;
          padding-left: 120px;
        }

      }
    }
  }
}

.txt-right {
  text-align: right;
}