.turn-over-detail {
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  ::-webkit-scrollbar-corner{
    background-color: transparent;
  }

  color: rgba(255, 255, 255, 0.8);
  //padding: 20px;
  font-size: 14px;
  box-sizing: border-box;
  
  .top {
    input {
      width: 180px;
      height: 30px;
      box-sizing: border-box;
      padding: 0 10px;
      margin-left: 10px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      font-size: 14px;

      &::placeholder{
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .table {
    margin-top: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    height: calc(100vh - 250px);
    width: 100%;
    overflow: auto;

    .tr {
      box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
    }

    .thead {
      width: 100%;
      color: rgba(255, 255, 255, .5);
      position: sticky;
      top: 0;
      z-index: 1;
      background: #182037;
      // background: linear-gradient(180deg, #182037 0%, #11182D 100%);
      .th{
        background-color: #131b31;
      }
    }

    .tbody {
      width: 100%;
      .tr:nth-child(2n) {
        background-color: #2f3342;
        .td{
          background-color: #2f3342;
        }
      }
      .tr:nth-child(2n + 1) {
        background-color: #2A3959;
        .td{
          background-color: #2A3959;
        }
      }
    }

    .th,
    .td {
      //width: 50%;
      padding: 0 10px;
      //box-sizing: border-box;

      &:nth-child(1) {
        width: 60px;
      }
      &:nth-child(2) {
        width: 145px;
      }
      &:nth-child(3) {
        width: 200px;
      }
      &:nth-child(4) {
        width: 100px;
      }
      &:nth-child(5) {
        width: 100px;
      }
      &:nth-child(6) {
        width: 130px;
      }
      &:nth-child(7) {
        width: 100px;
      }
      &:nth-child(8) {
        width: 100px;
      }
      &:nth-child(9) {
        width: 145px;
      }
      &:nth-child(10) {
        //width: 300px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      //&:nth-child(11) {
      //  width: 500px;
      //}
    }

  }
}

.pointer {
  cursor: pointer;
}
/deep/ .el-drawer__body {
  flex: unset;
  overflow-y: auto;
  margin-bottom: 68px;
}