.kpi-report {
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 14px;
  box-sizing: border-box;

  .top {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #212e4c;
  }

  .table {
    margin-top: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    height: calc(100vh - 220px);
    width: 100%;
    overflow: auto;

    .tr {
      padding: 0 20px;
      box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
    }

    .thead {
      color: rgba(255, 255, 255, .5);
      position: sticky;
      top: 0;
      background: #182037;
      // background: linear-gradient(180deg, #182037 0%, #11182D 100%);
    }

    .tbody {
      .tr:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.04);
      }


    }

    .th,
    .td {
      padding-right: 10px;
      line-height: 14px;
    }

    .th:nth-child(1),
    .td:nth-child(1) {
      width: 8%;
    }

    .th:nth-child(2),
    .td:nth-child(2) {
      width: 20%;
    }

    .th:nth-child(3),
    .td:nth-child(3) {
      width: 8%;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      width: 8%;
    }

    .th:nth-child(5),
    .td:nth-child(5) {
      width: 14%;
    }

    .th:nth-child(6),
    .td:nth-child(6) {
      width: 14%;
    }

    .th:nth-child(7),
    .td:nth-child(7) {
      width: 14%;
    }

    .th:nth-child(8),
    .td:nth-child(8) {
      width: 14%;
    }

    .th:nth-child(9),
    .td:nth-child(9) {
      width: 10%;
    }

    .th:nth-child(10),
    .td:nth-child(10) {
      width: 10%;
      padding-right: 0;
    }
  }
  
  /deep/.select-com,
  /deep/.options li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
  }
}