.auth-content {
  color: white;

  &-left {
    width: 30%;
    height: calc(100vh - 190px);
    padding: 0 20px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, .2);

    p {
      font-size: 14px;
      font-weight: 400;

      &.amt {
        margin-top: 10px;
        font-size: 26px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1EDAAD;
      }
    }
  }

  &-right {
    width: 70%;
  }
}