.TY-detail {
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 14px;
  box-sizing: border-box;

  .top {
    input {
      box-sizing: border-box;
      padding: 0 10px;
      margin-left: 10px;
      width: 360px;
      height: 44px;
      background: #FAFAFC;
      border-radius: 8px;
      border: 1px solid #C4CBD7;

      color: #08080A;

      &::placeholder {
        color: #7A7A7A;
      }
    }
  }

  .table {
    margin-top: 20px;
    border-radius: 10px;
    height: calc(100vh - 220px);
    width: 100%;
    overflow: auto;

    .tr {
      box-sizing: border-box;
      min-height: 36px;
      // line-height: 36px;
      padding: 4px 0;
      font-size: 14px;
    }

    .thead {
      width: 100%;
      min-width: 2000px;
      position: sticky;
      top: 0;
      z-index: 1;
      font-size: 22px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 500;
      color: #08080A;
      background: #C4CBD7;

      // background: linear-gradient(180deg, #182037 0%, #11182D 100%);
      .th {

        background: #C4CBD7;
      }
    }

    .tbody {
      width: 100%;
      min-width: 2000px;

      .tr:nth-child(2n) {

        background: #ECEFF4;

        .td {

          background: #ECEFF4;
        }
      }
      .tr:nth-child(2n+1) {

        background: #DCE1EA;
        .td {

          background: #DCE1EA;
        }
      }
    }

    .th,
    .td {
      padding: 0 10px;
      box-sizing: border-box;
      font-size: 22px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      color: #08080A;
    }

    .th:nth-child(1),
    .td:nth-child(1) {
      width: 100px;
      position: sticky;
      left: 0;
    }

    .th:nth-child(2),
    .td:nth-child(2) {
      width: 100px;
      position: sticky;
      left: 59px;
    }

    .th:nth-child(3),
    .td:nth-child(3) {
      width: 10%;
      position: sticky;
      left: 118px;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      width: 16%;
    }

    .th:nth-child(5),
    .td:nth-child(5) {
      width: 10%;
    }

    .th:nth-child(6),
    .td:nth-child(6) {
      width: 12%;
    }

    .th:nth-child(7),
    .td:nth-child(7) {
      width: 16%;
    }

    .th:nth-child(8),
    .td:nth-child(8) {
      width: 16%;
    }

    .th:nth-child(9),
    .td:nth-child(9) {
      width: 16%;
    }

    .th:nth-child(10),
    .td:nth-child(10) {
      width: 12%;
    }

    .th:nth-child(11),
    .td:nth-child(11) {
      width: 10%;
    }

    .th:nth-child(12),
    .td:nth-child(12) {
      width: 10%;
    }

    .th:nth-child(13),
    .td:nth-child(13) {
      width: 8%;
    }

    .th:nth-child(14),
    .td:nth-child(14) {
      width: 10%;
    }

    .th:nth-child(15),
    .td:nth-child(15) {
      width: 25%;
    }

    .th:nth-child(16),
    .td:nth-child(16) {
      width: 50px;
      white-space: nowrap;
      position: sticky;
      right: 0;
    }
  }
}

.pointer {
  cursor: pointer;
}