// 点单系统中存酒
.table-content {
  position: relative;
  width: 100%;

  .table {
    color: rgba(255, 255, 255, 0.8);
    .thead {
      position: sticky;
      top: 0;
      background-color: rgba(216, 229, 255, 0.08);

      .th {
        font-weight: 600;

      }
    }

    .tr {
      min-height: 40px;
      font-size: 14px;

      &:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.04);
      }
    }

    .th,
    .td {
      width: 50%;
      padding: 0 6px;
      
      /deep/.el-checkbox__label{
        color: rgba(255, 255, 255, 0.8);
      }

      /deep/.el-checkbox .el-checkbox__inner {
        border-radius: 50%;
        width: 16px;
        height: 16px;
      }

      /deep/.el-checkbox__input.is-checked .el-checkbox__inner::after{
        transform: rotate(45deg) scaleY(1) translate(2px, 0px);
      }

      /deep/.el-checkbox__inner{
        background-color: transparent;
      }

      /deep/.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
        background-color: #409EFF;
      }
    }
  }

  .no-data {
    text-align: center;

    img {
      margin-top: 80px;
      width: 60px;
    }

    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  .pagination {
    float: right;
  }

  /deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #2170ff;
  }
}