.add-or-update-reason {

  .red {
    color: red;
  }
}

/deep/.el-dialog {
  float: right;
  margin: 0 !important;
  height: 100vh;
  width: 500px;
}

/deep/.el-dialog__body {
  height: calc(100vh - 130px);
  padding: 0 20px;
  box-sizing: border-box;
}

/deep/.el-dialog__footer{
  text-align: center;
}