.btn {
  width: 66px;
  height: 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 2px;
  box-sizing: border-box;
  &.mini {
    width: 44px;
    height: 26px;
    font-size: 14px;
  }
  &.normal {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }
  &.primary {
    color: #dfe9ff;
    background: #2362d5;
    &:hover {
      background: #347cf9;
    }
  }
  &.info {
    background: #dde0e9;
    color: #2362d5;
    &:hover {
      color: #347cf9;
    }
  }

  &.large {
    width: 120px;
  }
}
