.vip-manager {
  .search {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;

    .row {
      display: flex;
      align-items: center;
      gap: 8px;
      
      span {
        font-size: 13px;
      }
      
      // 搜索框那一行宽度100%，独占一行
      &:nth-child(5) {
        width: 100%;
        margin-top: 4px;
      }
    }
  }

  .contain {
    width: 100%;
    height: calc(100vh - 380px);
    overflow-y: auto;
    transform: translate(0, 0);

    .table {
      min-width: 1750px;

      .thead .th {
        background-color: #bec5d5;
      }

      .tbody .tr {
        &:nth-child(2n) {
          .td {
            background-color: #bec5d5;
          }
        }

        &:nth-child(2n + 1) {
          .td {
            background-color: #ccd1dc;
          }
        }
      }

      .tr {
        position: relative;

        .th,
        .td {
          height: 100%;
          min-height: 16px;
        }

        .th:nth-child(1),
        .td:nth-child(1) {
          padding-left: 10px;
          width: 120px;
          position: sticky;
          left: 0px;
          span {
            color: #2362d5;
            cursor: pointer;
          }
        }

        .th:nth-child(2),
        .td:nth-child(2) {
          width: 80px;
          position: sticky;
          left: 120px;
        }

        .th:nth-child(3),
        .td:nth-child(3) {
          width: 120px;
          position: sticky;
          left: 200px;
        }

        .th:nth-child(4),
        .td:nth-child(4) {
          width: 90px;
        }

        .th:nth-child(5),
        .td:nth-child(5) {
          width: 120px;
        }

        .th:nth-child(6),
        .td:nth-child(6) {
          width: 120px;
        }

        .th:nth-child(7),
        .td:nth-child(7) {
          width: 80px;
        }

        .th:nth-child(8),
        .td:nth-child(8) {
          width: 120px;
        }

        .th:nth-child(9),
        .td:nth-child(9) {
          width: 150px;

          img {
            margin-left: 4px;
            width: 20px;
          }
        }

        .th:nth-child(10),
        .td:nth-child(10) {
          width: 150px;
        }

        .th:nth-child(11),
        .td:nth-child(11) {
          width: 140px;
        }

        .th:nth-child(12),
        .td:nth-child(12) {
          width: 120px;
        }

        .th:nth-child(13),
        .td:nth-child(13) {
          width: 120px;
        }

        .th:nth-child(14),
        .td:nth-child(14) {
          width: 70px;
        }

        .th:nth-child(15),
        .td:nth-child(15) {
          width: 120px;
        }

        .th:nth-child(16),
        .td:nth-child(16) {
          width: 120px;
        }
        
        .th:nth-child(17),
        .td:nth-child(17) {
          width: 120px;
        }
        
        .th:nth-child(18),
        .td:nth-child(18) {
          width: 120px;
        }

        .sj {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 0px;
          height: 0px;
          border: 10px solid transparent;
          border-right-color: #d1d5e0;
          filter: drop-shadow(2px, 0px, 2px, rgba(26, 26, 33, 0.15) ;);
          // border-right-color: red;
          z-index: 2;
        }
        ul.tips {
          position: absolute;
          top: 50%;
          transform: translate(-50%, 0px);
          width: 152px;
          background: #d1d5e0;
          box-shadow: 0px 12px 20px 0px rgba(26, 26, 33, 0.15);
          z-index: 1;
          border-radius: 10px;
          overflow: hidden;
          li.item {
            padding: 0 20px;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
              background-color: #c3c9d8;
            }
            > div {
              padding: 10px 0;
              border-bottom: 1px solid #dde0e9;
            }
          }
        }
      }
    }
  }
}

/deep/.el-range-input {
  background: #d1d5e0;
}

/deep/.el-range-input::placeholder {
  color: #8c8c8c;
}

/deep/.el-input__inner {
  background: #d1d5e0;
  border-radius: 4px;
  border: 1px solid #aeafc1;
}

/deep/.el-input__inner::placeholder,
/deep/.el-icon-arrow-up:before,
/deep/.el-icon-date:before {
  color: #8c8c8c;
}
