.step-one {
  .form {
    padding-bottom: 30px;
    .row {
      margin: 20px 0;

      .label {
        width: 150px;
        text-align: right;
        font-size: 14px;
        margin-right: 10px;

        span.red {
          color: #F51F4B;
        }
      }

      .value {
        .btn.disabled{
          background-color: #aaa;
          color: #eee;
          cursor: no-drop;
        }
        .tips {
          margin-top: 10px;
          font-size: 13px;
          color: #72727B;
        }
      }
    }
  }
}