.order-meal-list,
.order-meal-list-yh2 {
  min-height: 100%;
  background: #ECEFF4;
  // background: linear-gradient(180deg, #202C4A 0%, #2A3959 100%);
}

.order-meal-list-gq {
  min-height: 100%;
  background:  #161D33;
  // background: linear-gradient(to top, #161D33 60px, #202C4A 60px, #202C4A 100%);
}