.product-list {
  position: relative;
  color: #fff;
  margin-left: 200px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding-bottom: 60px;
  box-sizing: border-box;
  scroll-behavior: smooth;

  .search {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100vw - 200px);
    padding-left: 10px;
    box-sizing: border-box;
    height: 60px;
    background: #DCE1EA;
    // background: linear-gradient(180deg, #222D47 0%, #11182D 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2000);
    z-index: 99;

    span {
      font-size: 18px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      color: #1A1A21;

      &:last-child {
        font-size: 24px;
        font-weight: 600;
      }
    }


    input {
      width: 360px;
      height: 36px;
      padding: 0 40px 0 12px;
      box-sizing: border-box;
      background: #FFFFFF;
      border-radius: 22px;
      border: 1px solid #C4CBD7;
      color: #fff;
      outline: none;

      &:focus {
        border-color: rgba(50, 185, 255, 1) !important;
      }
    }

    i.el-icon-circle-close {
      position: absolute;
      top: 50%;
      left: 250px;
      transform: translateY(-50%);
      cursor: pointer;
      color: rgba(255, 255, 255, 0.3)
    }

    img.icon {
      width: 18px;
      transform: translateX(-38px);
    }
  }

  .card-list {
    padding: 66px 6px 6px 6px;

    .center-type {
      margin: 0 auto;
      flex-wrap: wrap;

      .prd-item {
        width: 272px;
        // padding: 10px;
        // height: 384px;
        margin: 5px;
        box-sizing: border-box;
        // background: rgba(169, 173, 211, 0.2000);
        background: #FAFAFC;
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1500);
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &.opacity {
          background: #FAFAFC;
          opacity: 0.3;
        }

        // &.opacity::before {
        //   content: ""; 
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   bottom: 0;
        //   left: 0;
        //   background: rgba(250,250,252,0.3);
        //   z-index: 1; /* 确保蒙层在元素上方 */
        // }

        .al-product {
          display: flex;
          justify-content: end;
          margin-top: 16px;
          margin-bottom: 14px;
          height: 30px;

          .item-span {
            border-radius: 12px;
            padding: 4px 8px;
            background: #D44F44;
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #FFFFFF;
            margin-right: 4px;
          }
        }

        .no-data-count {
          width: 80px;
          height: 80px;
          transform: translate(85px, -148px);
        }

        .no-data-count1 {
          width: 80px;
          height: 80px;
          transform: translate(100px, -128px);
        }

        &:hover::before {
          content: "";
          /* 伪元素需要有content属性 */
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(16, 16, 32, 0.4);
          z-index: 1;
          /* 确保蒙层在元素上方 */
        }

        .item-img-count {
          position: relative;

          .item-img {
            width: 272px;
            height: 272px;
            object-fit: cover;
          }

          .item-span {

            border-radius: 12px;
            position: absolute;
            bottom: 8px;
            right: 4px;
            padding: 4px 8px;
            background: #D44F44;
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #FFFFFF
          }
        }


        .title {
          width: 100%;
          height: 62px;
          margin-top: 10px;
          padding: 0 10px;
          box-sizing: border-box;

          h5 {
            font-size: 18px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #08080A;
            line-height: 22px;
          }
        }

        .english-name {
          height: 18px;
          font-size: 16px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #9B5911;
          line-height: 18px;
        }

        .item-footer {
          height: 24px;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          box-sizing: border-box;
          padding: 0 10px;
          margin-top: 6px;

          .count {
            font-size: 16px;
            text-align: right;
            line-height: 16px;
            color: #1A1A21;
          }

          .price {
            text-align: right;
            font-size: 24px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #009370;
            line-height: 24px;
          }
        }

        .fangda {
          position: absolute;
          right: 4px;
          top: 4px;
          width: 40px;
          height: 40px;
          z-index: 1;
        }
      }

      p.tips {
        padding: 10px 0;
        display: block;
        margin: 0 auto;
      }
    }
  }

  // 卡台名称
  .card-name-top {
    position: fixed;
    right: 314px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    z-index: 99;
    font-weight: 600;
    color: #1A1A21;
    font-family: PingFangSC, PingFang SC;

    .card-name-title {
      display: flex;
      align-items: center;
    }
  }

  .line-top {
    position: fixed;
    right: 300px;
    width: 1px;
    height: 40px;
    background: #C4CBD7;
    top: 10px;
    z-index: 99;
  }

  // 系统时间
  .date-time-top {
    position: fixed;
    width: 164px;
    right: 126px;
    top: 0px;
    height: 60px;
    z-index: 99;

    p.time {
      font-size: 18px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #08080A;
      line-height: 24px;
    }
    p.author {
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #08080A;
      line-height: 24px;
    }
    p.asBtn {
      // 使用css实现按钮效果
      display: inline-block;
      padding: 10px 5px;
      height: 10px;
      line-height: 10px;
      text-align: center;
      border-radius: 15px;
      border: 1px solid blue;
      color: blue;
      cursor: pointer;
    }
  }

  // 箭头
  .arrow {
    width: 120px;
    height: 60px;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 99;

    .bg {
      margin-top: 10px;

      .bg-left,
      .bg-right {
        width: 46px;
        height: 40px;
        background: #FFFFFF;
        // box-shadow: inset 0px 1px 1px 0px #2775BA;
        text-align: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #989FAF;

        img {
          width: 20px;
          margin-top: 10px;
        }
      }

      .bg-left {
        border-radius: 8px 0px 0px 8px;
        border-right: none;

        img {
          transform: rotate(180deg);
        }
      }

      .bg-right {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 950px) {
  .date-time-top {
    display: none;
  }
  .opentime {
    position: fixed;
    width: 164px;
    right: 126px;
    top: 0px;
    height: 60px;
    z-index: 99;
  }
}