.product-list {
  position: relative;
  color: #fff;
  margin-left: 200px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding-bottom: 60px;
  box-sizing: border-box;
  scroll-behavior: smooth;

  .search {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100vw - 200px);
    padding-left: 10px;
    box-sizing: border-box;
    height: 60px;
    background: #DCE1EA;
    // background: linear-gradient(180deg, #222D47 0%, #11182D 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2000);


    input {
      width: 360px;
      height: 36px;
      padding: 0 40px 0 12px;
      box-sizing: border-box;
      background: #FFFFFF;
      border-radius: 22px;
      border: 1px solid #C4CBD7;
      color: #fff;
      outline: none;

      &:focus {
        border-color: rgba(50, 185, 255, 1) !important;
      }
    }

    i.el-icon-circle-close {
      position: absolute;
      top: 50%;
      left: 250px;
      transform: translateY(-50%);
      cursor: pointer;
      color: rgba(255, 255, 255, 0.3)
    }

    img.icon {
      width: 18px;
      transform: translateX(-38px);
    }
  }

  .card-list {
    padding: 66px 6px 6px 6px;

    .center-type {
      margin: 0 auto;
      flex-wrap: wrap;

      .prd-item {
        width: 170px;
        padding: 10px;
        height: 148px;
        margin: 4px;
        box-sizing: border-box;
        background: rgba(169, 173, 211, 0.2000);
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1500);
        border-radius: 6px;
        cursor: pointer;

        &.opacity {
          background: rgba(169, 173, 211, 0.1);
        }

        .no-data-count {
          width: 60px;
          height: 60px;
          transform: translate(-8px, -56px);
        }

        &:hover {
          background: rgba(57, 110, 255, 0.4000);
        }

        .title {
          height: 78px;
          h5{
            font-size: 15px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 20px;
          }
        }

        .english-name {
          height: 18px;
          font-size: 14px;
          font-family: '宋体';
          color: #C0AA76;
          line-height: 18px;
        }

        .count {
          font-size: 12px;
          text-align: right;
          line-height: 30px;
          height: 30px;
        }

        .price {
          text-align: right;
          font-size: 22px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #1EDAAD;
          line-height: 22px;
        }
      }

      p.tips {
        padding: 10px 0;
        display: block;
        margin: 0 auto;
      }
    }
  }

  
  // 箭头
  .arrow {
    width: 120px;
    height: 60px;
    position: fixed;
    right: 0;
    cursor: pointer;

    .bg {
      margin-top: 10px;

      .bg-left,
      .bg-right {
        width: 46px;
        height: 40px;
        background: #0D172D;
        box-shadow: inset 0px 1px 1px 0px #2775BA;
        text-align: center;

        img {
          width: 20px;
          margin-top: 10px;
        }
      }

      .bg-left {
        border-radius: 30px 0px 0px 30px;

        img {
          transform: rotate(180deg);
        }
      }

      .bg-right {
        border-radius: 0 30px 30px 0;
      }
    }
  }
}