.form-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color:#B3BBCD;

  button {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0;

    &.el-button.el-button--info {
      background: #DDE0E9;
      color: #2362D5;
    }

    &.el-button.el-button--primary {
      color: #DFE9FF;
      background: #2362D5;
    }
  }
}
