
  /* 以下所有样式均为elementUI组件中confirm样式 */
  .el-message-box {
    background:#202C4A;
    box-shadow: 0px 0px 10px 0px rgba(26, 137, 255, 0.8);
    border: 1px solid #32B9FF;
    border-radius: 8px;
  }

  .el-message-box__title {
    color: #fff;
  }

  .el-message-box__message p,
  .el-message-box__close.el-icon-close {
    color: #fff;
  }

  .el-message-box .el-button.el-button--default.el-button--small {
    border: none;
    color: #fff;
  }

  .el-message-box .el-button.el-button--default.el-button--small:nth-child(1) {
    width: 60px;
    background: #374368;
    border-radius: 20px;
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3);
  }

  .el-message-box .el-button.el-button--default.el-button--small:nth-child(2) {
    width: 60px;
    background:#4B89FF;
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    border-radius: 20px;
  }