.el-date-picker.has-sidebar.has-time {
  background: #2A3959;
  color: #fff;
  border: 1px solid #22f4d6
}

.el-date-picker__header-label {
  color: #ffffff;
}

.el-date-table th {
  color: #fff;
}

.el-icon-d-arrow-left:before {
  color: #8C8C8C;
}

.el-icon-arrow-left:before {
  color: #8C8C8C;
}

.el-icon-arrow-right:before {
  color: #8C8C8C;
}

.el-icon-d-arrow-right:before {
  color: #8C8C8C;
}

.el-picker-panel__footer {
  background-color: #2A3959;
  border: 1px solid #22f4d6
}

.el-picker-panel [slot=sidebar],
.el-picker-panel__sidebar {
  background-color: #e5e5e5;
  border-right: 1px solid #22f4d6;
}

.el-picker-panel__shortcut {
  color: #fff;
}

.el-date-picker__time-header {
  border-bottom: 1px solid #22f4d6;
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #2A3959;
}

.el-popper[x-placement^=top] .popper__arrow::after {
  bottom: 1px;
  margin-left: -6px;
  border-top-color: #22f4d6;
  border-bottom-width: 0;
}

.el-picker-panel {
  background: #e5e5e5!important;
  color: #fff;
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
  background-color: #22f4d6c9;
}