
/* 以下所有样式均为elementUI组件中confirm样式 */
.el-message-box {
  width: 600px;
  border-radius: 20px;
  background: #DCE1EA;
  padding: 0;
  box-shadow: none;
  border: none;
}

.el-message-box__title {
  font-size: 18px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  color: #1A1A21;

}

.el-message-box__content {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-message-box__header {

  background: #C4CBD7;
}

.el-message-box__message p,
.el-message-box__close.el-icon-close {
  font-size: 24px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #08080A;
}

.el-message-box .el-message-box__btns {
  background: #FAFAFC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
}

.el-message-box .el-button.el-button--default.el-button--small {
  border: none;
  font-size: 20px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
}

.el-message-box .el-button.el-button--default.el-button--small:nth-child(1) {
  width: 112px;
  height: 52px;
  background: #374368;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.el-message-box .el-button.el-button--default.el-button--small:nth-child(2) {
  width: 112px;
  height: 52px;
  background: #3373E8;
  border-radius: 8px;
}