/* 以下所有样式均为elementUI组件中confirm样式 */
 .el-message-box {
  width: 600px !important;
  border-radius: 20px !important;
  background: #DCE1EA !important;
  padding: 0 !important;
  box-shadow: none !important;
  border:  none !important;
}

.el-message-box__title {
  font-size: 18px !important; 
  font-family: PingFangSC, PingFang SC;
  font-weight: 600 !important;
  color: #1A1A21 !important;

}

.el-message-box__content{
  height: 120px  !important;
  display: flex  !important;
  align-items: center  !important;
  justify-content: center  !important;
}

.el-message-box__header{

  background: #C4CBD7 !important;
}
.el-message-box__message p,
.el-message-box__close.el-icon-close {
  font-size: 24px  !important;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400  !important;
  color: #08080A  !important;
}

.el-message-box .el-message-box__btns {
  background: #FAFAFC  !important;
  display: flex  !important;
  align-items: center  !important;
  justify-content: center  !important;
  padding: 6px 0 !important;
}

.el-message-box .el-button.el-button--default.el-button--small {
  border: none  !important;
  font-size: 20px  !important;
  font-family: PingFangSC, PingFang SC  !important;
  font-weight: 600  !important;
  color: #FFFFFF  !important;
}

.el-message-box .el-button.el-button--default.el-button--small:nth-child(1) {
  width: 112px  !important;
  height: 52px  !important;
  background: #374368  !important;
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2)  !important;
  border-radius: 8px  !important;
}

.el-message-box .el-button.el-button--default.el-button--small:nth-child(2) {
  width: 112px  !important;
  height: 52px  !important;
  background: #3373E8  !important;
  border-radius: 8px  !important;
}