// 预留confirm
.confirmBg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 99;

  .confirm {
    width: 800px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background: #08080A;
    // background: linear-gradient(180deg, #08080A 0%, #11182D 100%);
    border: 1px solid rgb(26, 137, 255);
    box-shadow: 0px 0px 10px 0px rgba(26, 137, 255, 0.8);
    border-radius: 8px;
    color: #fff;

    .title {
      padding: 10px 20px;
      border-bottom: 1px solid #666;
      box-sizing: border-box;
    }

    .content {
      padding: 10px;
      min-height: 100px;
      max-height: 60%;

      &-allocation {
        >span {
          font-size: 12px;
          display: inline-block;
          padding: 8px 0;

          &.red {
            color: rgb(255, 56, 56);
          }
        }

        .el-table {
          margin: 10px 0;
        }
      }

      &-result {
        min-height: 150px;
        .contain {
          height: 250px;
          overflow-y: auto;
          .result {
            padding: 10px 20px;
            box-sizing: border-box;

            .result-left {
              display: inline-block;
              vertical-align: middle;
              width: 20%;
            }

            .result-right {
              display: inline-block;
              vertical-align: middle;
              width: 78%;
            }
          }
        }
      }


      span,
      div {
        &.green {
          color: #70B603;
        }

        &.red {
          color: rgb(255, 56, 56);
        }
      }

    }

    .bottom {
      border-top: 1px solid #666;
      padding: 10px 20px;

      button {
        min-width: 60px;
        padding: 8px 10px;
        border-radius: 6px;
        outline: none;
        cursor: pointer;
        color: #fff;
        margin-right: 20px;
        border: none;

        &.primary {
          background: #4B89FF;
          // background: linear-gradient(180deg, #4B89FF 0%, #455EFF 100%);
        }

        &.cancel {
          background: #374368;
        }
      }
    }
  }
}