// erp后台
.coll {
  margin-top: 10px;
  .red {
    color: #D9001B;
  }

  .label {
    font-size: 14px;
    width: 120px;
    text-align: right;
  }
  .value {
    padding-left: 6px;
  }

  /deep/.el-input__inner,
  /deep/.el-textarea__inner {
    &::placeholder {
      font-size: 12px;
    }
    border: 1px solid #d9d9d9;
    width: 210px;
  }

}

@media print {
  .coll {
    margin-top: 2px;

    .label {
      font-size: 10px;
      width: 100px;
    }
    .value {
      font-size: 10px;
    }

    /deep/.el-input__inner,
    /deep/.el-textarea__inner {
      &::placeholder {
        font-size: 10px;
      }
    }
  }
}