.new-shopping-cart {
  padding: 20px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .8);
  min-height: 100%;
  background: #C4CBD7;

  &-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 155px);

    background: #DCE1EA;
    // background: linear-gradient(180deg, #202C4A 0%, #2A3959 100%);
    // box-shadow: 0px 0px 12px 0px rgba(26, 137, 255, 0.8000);

    border: 1px solid #989FAF;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;

    &.rect {
      height: calc(100vh - 215px);
    }

    // 购物车详情
    &-top {
      font-size: 15px;

      .thead .tr {

        background: #ECEFF4;
        // background: linear-gradient(180deg, #222D47 0%, #11182D 100%);

        // border-radius: 12px 12px 0px 0px;

        color: #08080A;

        font-size: 22px;
      }

      .tbody {
        height: calc(100vh - 328px);
        overflow-y: auto;

        &.rect {
          height: calc(100vh - 408px);
        }

        .coll:nth-child(2n) {

          background: #ECEFF4;
        }
      }


      .tr {
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 56px;
        padding: 8px 16px;
        box-sizing: border-box;
        text-align: left;

        .th,
        .td {
          padding: 0 4px;
          box-sizing: border-box;
        }

        .th:nth-child(1),
        .td:nth-child(1) {
          width: 5%;
          flex-wrap: wrap;

          span {
            display: inline-block;
            text-align: center;
            width: 26px;
            height: 26px;
            line-height: 26px;
            font-size: 18px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(255, 255, 255, .8);
            border-radius: 50%;

            &.green {
              background: #1DC344;
              // background: linear-gradient(180deg, #1DC344 0%, #00763E 100%);
            }

            &.blue {
              background: #00C0B5;
              // background: linear-gradient(180deg, #00C0B5 0%, #007BB5 100%);
            }

            &.purple {
              background: #9068FE;
              // background: linear-gradient(180deg, #9068FE 0%, #6D21E5 100%);
            }

            &.red {
              background: #FF3439;
              // background: linear-gradient(180deg, #FF3439 0%, #B00024 100%);
            }
          }

        }

        .th:nth-child(2),
        .td:nth-child(2) {
          width: 25%;
          font-size: 22px;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          color: #08080A;

          .english-name {
            line-height: 18px;
            font-size: 16px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            color: #9B5911;
          }
        }

        .th:nth-child(3),
        .td:nth-child(3) {
          text-align: center;
          width: 20%;
          white-space: nowrap;

          img {
            vertical-align: middle;
            width: 32px;
            cursor: pointer;
          }

          input {

            color: #08080A;
            vertical-align: middle;
            width: 80px;
            height: 28px;
            padding: 0 10px;
            text-align: center;
            box-sizing: border-box;
            background: #FAFAFC;
            border-radius: 24px;

            font-size: 24px;
            border: 1px solid #C4CBD7;

          }

          .inputActive {

            border: 2px solid #3373E8;
          }

          input[disabled] {
            opacity: .4;
          }
        }

        .th:nth-child(4),
        .td:nth-child(4) {
          text-align: right;
          width: 10%;
          font-size: 24px;
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          color: #08080A;
        }

        .th:nth-child(5),
        .td:nth-child(5) {
          text-align: right;
          width: 10%;
          padding-right: 1%;
          font-size: 24px;
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          color: #08080A;
        }

        .th:nth-child(6),
        .td:nth-child(6) {
          width: 10%;
          padding-left: 1%;
          font-size: 20px;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          color: #08080A;
        }

        .th:nth-child(7),
        .td:nth-child(7) {
          width: 14%;
          font-size: 20px;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          color: #08080A;
        }

        .th:nth-child(8),
        .td:nth-child(8) {
          position: relative;
          width: 6%;

          .bg {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100vw;
            height: calc(100vh - 140px);
          }

          >img {
            position: relative;
            // z-index: 3;
            width: 32px;
            cursor: pointer;
          }


          img.sanJiao {
            position: absolute;
            left: 50%;
            bottom: -5px;
            z-index: 9;
            // transform: translate(-50%, 0) rotate(90deg);
            width: 20px;
            transform: translateX(-100%);
          }

          // 操作按钮相关下拉框
          .do-list {
            position: absolute;
            top: 40px;
            right: 0px;
            z-index: 8;
            width: 124px;
            box-sizing: border-box;
            background: #FAFAFC;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.07);
            border: 1px solid #989FAF;
            border-radius: 10px;

            .li {
              position: relative;
              height: 48px;
              line-height: 48px;
              cursor: pointer;
              font-size: 20px;
              font-family: PingFangSC, PingFang SC;
              font-weight: 500;
              text-align: left;
              padding-left: 16px;
              box-sizing: border-box;
              color: #1A1A21;

              &:hover {
                color: #D44F44;
              }

              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #D0D5DF;
                left: 0;
              }

              &:nth-last-child(1)::after {
                height: 0;
              }
            }

            // img {
            //   position: absolute;
            //   right: 12%;
            //   transform: translate(-22%, -22px) rotate(90deg);
            //   width: 20px;
            // }
          }
        }
      }

      // 详细列表信息
      .tr.detail-list {
        min-height: 20px !important;
        font-size: 13px;
        padding: 4px 14px;
        color: #AED8FF;
        .detail {
          color: #125A9C;
          font-size: 16px;
          height: 16px;
          line-height: 16px;
          padding: 0px 16px;
        }
        .detail-count {
          color: #08080A;
          font-weight: 500;
          font-size: 16px;
          height: 16px;
          line-height: 16px;
          padding: 0px 4px;
        }
      }

      // 要求
      .requested {
        width: 25%;
        padding: 8px 14px 14px 7%;
        font-size: 16px;
        font-weight: 400;
        color: #125A9C;
        line-height: 16px;
      }
    }

    &-key {
      position: absolute;
      left: auto;
      right: auto;
      bottom: 64px;
      padding: 0 20px;
      box-sizing: border-box;
      width: 100%;
      height: 46px;
      background: #FAFAFC;
      border-radius: 0px 0px 12px 12px;
      font-size: 20px;
    }

    // 底部
    &-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 20px;
      box-sizing: border-box;
      width: 100%;
      height: 64px;
      background: #FAFAFC;
      border-radius: 0px 0px 12px 12px;

      font-size: 20px;

      color: #1A1A21;

      .ori-price {
        font-size: 14px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        //color: #009370;
        color: #7A7A7A;
        line-height: 16px;
        text-decoration: line-through;
      }

      .amt {
        .p {
          span.num {
            font-size: 30px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            color: #009370;
            // color: #E63122;
            line-height: 30px;
          }
        }
      }

      .btn {
        button {
          background: #374368;
          box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2);
          border-radius: 8px;
          width: 112px;
          height: 52px;
          border: none;
          font-size: 20px;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 20px;
          margin-left: 4px;
        }

        .right-btns {
          box-shadow: none;
          background: #3373E8;
          color: #FFFFFF;
        }
      }
    }
  }

  .choose-detail {
    color: rgba(255, 255, 255, .8);

    .li {
      padding: 0 10px 20px;

      .left {
        width: 10%;

        input[type="radio"] {
          cursor: pointer;
        }
      }

      .center {
        width: 25%;
      }

      .right {
        width: 65%;
        flex-wrap: wrap;

        .p {
          padding: 4px 8px;
        }
      }
    }
  }

  .choose-btn {
    width: 100%;
    text-align: center;
    padding-top: 20px;

    button {
      border: none;
      padding: 6px 16px;
      border-radius: 6px;
      margin: 0 20px;
      color: rgba(255, 255, 255, .8);
      cursor: pointer;

      &.cancel {
        background: #374368;
        box-shadow: inset 0px 1px 1px 0px rgb(255 255 255 / 30%);
      }

      &.ok {
        background: #4b89ff;
        // background: linear-gradient(180deg, #4b89ff 0%, #455eff 100%);
        box-shadow: inset 0px 1px 1px 0px rgb(255 255 255 / 50%);
      }

    }
  }
}


// 倒计时退出登录模态框
.num-sub-tips {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);

  .contain {
    width: 300px;
    height: 100px;
    padding: 20px;
    border-radius: 8px;
    background: #DCE1EA;
    // background: linear-gradient(180deg, #202C4A 0%, #2A3959 100%);
    // box-shadow: 0px 0px 10px 0px rgb(67, 152, 243);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    line-height: 100px;
    text-align: center;

    color: #08080A;
    font-size: 20px;
  }
}