* {
  box-sizing: border-box;
}

.contain {
  height: calc(100vh - 60px);
  background: #202C4A;
  // background: linear-gradient(180deg, #202C4A 0%, #2A3959 100%);
  overflow-y: auto;

  .contain-content {
    overflow: hidden;
  }

  .tab {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #222D47;
    // background: linear-gradient(180deg, #222D47 0%, #11182D 100%);
    padding: 12px 0;
    border-bottom: 1px solid rgba(39, 117, 186, .5);

    .tab-item {
      text-align: center;
      letter-spacing: 2px;
      cursor: pointer;
      width: 80px;
      height: 40px;
      background: rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 1px 1px 0px #2775BA;
      border-radius: 30px;
      font-size: 16px;
      letter-spacing: 0;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 40px;
      margin: 0 10px;

      &.active {
        background: #455EFF!important;
        // background: linear-gradient(180deg, #455EFF 0%, #4B89FF 100%) !important;
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5) !important;
      }
    }

    .anotherInfo {
      position: absolute;
      left: 0;
      top: 60px;
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      background: #11182D;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(39, 117, 186, .5);

      >.another-item {
        margin-top: 4px;
        box-shadow: inset 0px 1px 1px 0px #2775BA;
        border-radius: 30px;
        width: 80px;
        margin: 10px;
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }

  // 卡台信息列表
  .content {
    padding: 14px 0px;
    margin-top: 64px;
    min-height: calc(100vh - 120px);

    .center-type {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;

      .card-item {
        flex-basis: 160px;
        flex-grow: 1;
        max-width: calc(33.33% - 10px);
        position: relative;
        height: 140px;
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7);
        border-radius: 8px;
        margin: 4px;
        padding: 10px 10px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;

        /* 卡台名称 */
        .area-name {
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
        }

        // 卡台标记
        .mark{
          display: inline-block;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          margin-right: 2px;
          background: #83FC9A;
          border-radius: 4px;
          color: #000
        }

        .card-name {
          height: 50px;
          font-size: 30px;
          line-height: 46px;
          overflow: hidden;
        }

        .save-wine-enter{
          margin-top: 14px;
          .enter-item {
            width: 42px;
            height: 42px;
            text-align: center;
            padding: 6px 0;
            border-radius: 6px;

            &.border-right {
              position: relative;
              &:after {
                content: '';
                width: 1px;
                height: 34px;
                background: rgba(255,255,255,0);
                // background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 53%, rgba(255,255,255,0) 100%);
                opacity: 0.4;
                position: absolute;
                right: -4px;
                top: 4px;
              }
            }

            &:nth-child(2) {
              margin: 0 8px;
            }

            &:hover{
              background-color: rgba(255, 255, 255, 0.2);
            }
            img {
              width: 14px;
            }
            p {
              font-size: 12px;
              color: rgba(255,255,255,0.8);
            }
          }
        }

        .card-tips {
          width: 14px;
          height: 14px;
          font-size: 12px;
          text-align: center;
          line-height: 13px;
          border-radius: 2px;
          margin-right: 4px;

          &.yellow {
            background: #FFBD00;
            // background: linear-gradient(180deg, #FFBD00 0%, #C96E00 100%);
          }

          &.green {
            background: #1DC344;
            // background: linear-gradient(180deg, #1DC344 0%, #00763E 100%)
          }

        }

        &.opacity {
          opacity: .3;
        }

      }
    }

    .no-data {
      text-align: center;
      margin-top: 26vh;

      img {
        width: 100px;
      }
      
      p {
        font-size: 18px;
        margin-top: 20px;
        color: #ccc;
      }
    }
  }

  .legend {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    font-size: 14px;
    background: #0D172D;
    // background: linear-gradient(180deg, #0D172D 0%, #060A14 100%);

    .legend-list {
      max-width: 60%;
      height: 100%;

      .legend-list-item {
        width: 84px;
        height: 100%;
        text-align: center;

        .btn {
          display: inline-block;
          padding: 1px;
          margin: 5px 0 8px;
          width: 44px;
          height: 28px;
          border-radius: 16px;
          cursor: pointer;
          border: 1px solid transparent;

          .img-contain {
            margin-top: 1px;
            margin-left: 1px;
            border-radius: 12px;
            width: 36px;
            height: 20px;

            img {
              visibility: hidden;
              margin-top: 5px;
              width: 15px;
            }
          }



          &.active {
            border: 2px solid #fff;
            box-shadow: 0 4px 15px 10px rgba(69, 94, 255, .5);
            background: rgba(169, 173, 211, 0.2);

            .img-contain {
              border-radius: 15px;
              text-align: center;

              img {
                visibility: visible;
                margin-top: 3px;
                width: 15px;
              }
            }
          }
        }

        &.reload-btn {
          position: relative;
          padding: 4px 0;
          box-sizing: border-box;
          cursor: pointer;
          height: 60px;

          img {
            margin-top: 6px;
            margin-bottom: 9px;
            width: 18px;
          }

          &:before {
            position: absolute;
            left: 0;
            top: 10px;
            content: '';
            width: 1px;
            height: 40px;
            background:rgba(174, 216, 255, 0);
            // background: linear-gradient(180deg, rgba(174, 216, 255, 0) 0%, rgba(174, 216, 255, .5) 50%, rgba(174, 216, 255, 0) 100%);
          }
        }

        p {
          color: white;
          transform: translateY(-5px);
          word-break: keep-all;
        }
      }
    }

    .dosomething {
      max-width: 40%;

      >.dosomething-item {
        text-align: center;
        cursor: pointer;
        color: #AED8FFFF;
        font-weight: 600;
      }

      >.dosomething-item:nth-child(1) {
        width: 80px;
        background: #2362D5;
        border-radius: 12px;
        margin-right: 16px;
        
        img {
          width: 20px;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          color: #FFFFFF;
          white-space: nowrap;
        }
      }

      >.dosomething-item:nth-child(2) {
        width: 80px;
        background: #F8FEFF;
        border-radius: 12px;
        margin-right: 16px;
        
        img {
          width: 20px;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          color: #08080A;
          white-space: nowrap;
        }
      }

      >.dosomething-item:nth-child(3) {
        width: 100px;
        margin-right: 14px;

        .arrow {
          width: 50%;
          height: 100%;
          padding-top: 11px;
          background: rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 1px 1px 0px #2775BA;

          img {
            width: 18px;
          }
        }

        .arr-left {
          border-radius: 20px 0 0 20px;
        }

        .arr-right {
          border-radius: 0 25px 25px 0;

          img {
            transform: rotate(180deg);
          }
        }
      }

      >.dosomething-item:nth-child(4) {
        position: relative;
        width: 96px;

        img {
          width: 20px;
          margin-top: 3px;
          margin-bottom: 3px;
        }

        &:before,
        &:after {
          position: absolute;
          top: 4px;
          content: '';
          width: 1px;
          height: 40px;
          background:rgba(174, 216, 255, 0);
          // background: linear-gradient(180deg, rgba(174, 216, 255, 0) 0%, rgba(174, 216, 255, .5) 50%, rgba(174, 216, 255, 0) 100%);
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }

        .option.more{
          width: 166px;
          position: absolute;
          bottom: 60px;
          left: 50%;
          transform: translateX(-50%);
          max-height: calc(100vh - 200px);
          overflow-y: auto;
        }
        
        img.sj{
          position: absolute;
          bottom: 36px;
          transform: translateX(-50%) rotate(-90deg);
          left: 50%;
        }
      }

      >.dosomething-item:nth-child(4) {
        width: 96px;
        position: relative;

        >img {
          width: 20px;
          margin-top: 2px;
          margin-bottom: 3px;
          transition: transform .05s;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}


// 操作选项
.option {
  position: absolute;
  bottom: 60px;
  right: 10px;
  width: 160px;
  padding: 4px;
  padding-left: 20px;
  background: #08080A;
  // background: linear-gradient(180deg, #08080A 0%, #11182D 100%);
  box-shadow: 0px 0px 10px 0px rgba(26, 137, 255, 0.8);
  border: 1px solid #32B9FF;
  border-radius: 8px;

  .option-item {
    position: relative;
    color: #AED8FF;
    line-height: 40px;
    height: 40px;
    box-sizing: content-box;
    cursor: pointer;
    padding: 4px 0;
    text-align: left;

    img {
      width: 18px;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    &.logout:before, &.authPwd:before {
      position: absolute;
      top: 0px;
      content: '';
      width: 80%;
      height: 1px;
      background: rgba(174, 216, 255, 0);
      // background: linear-gradient(90deg, rgba(174, 216, 255, 0) 0%, rgba(174, 216, 255, .5) 50%, rgba(174, 216, 255, 0) 100%);
    }
  }

  // 小三角
  >img {
    position: absolute;
    width: 16px;
    bottom: -18px;
    right: 30px;
    transform: rotate(-90deg);
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    width: 300px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0D172D;
    // background: linear-gradient(180deg, #0D172D 0%, #060A14 100%);
    border: 1px solid #09f;
    border-radius: 10px;
    color: #fff;
    line-height: 50px;
  }
}


// 修改密码模态框
/deep/.el-form-item__label{
  color: rgba(255, 255, 255, 0.8);
}